<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <h2 class="my-4">Ask & Answer</h2>
  <div class="list-group mt-2">
	<a href="shout.html" class="list-group-item">Featured</a>
	<a href="shout.html" class="list-group-item">Popular</a>
	<a href="shout.html" class="list-group-item">Latest</a>
  </div>
  <div class="list-group">
	<h5 class="mt-4">Choose By Faculty</h5>
	<a href="shout.html" class="list-group-item">Arts</a>
	<a href="shout.html" class="list-group-item">Business</a>
	<a href="shout.html" class="list-group-item">Computing</a>
  </div>
</body>

</html>